In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
ml_hum = pd.read_csv('../../../data/main_data/melted_humidity.csv')
ml_sun = pd.read_csv('../../../data/main_data/melted_sun_hours.csv')
ml_weather = pd.read_csv('../../../data/main_data/melted_weather.csv')

In [3]:
ml_hum.head()
ml_sun.head()
ml_weather.head()

   index  month  humidity
0      1      0        77
1      2      0        75
2      3      0        78
3      4      0        79
4      5      0        76

   index  month  sun_hours
0      1      0       8.79
1      2      0       9.46
2      3      0       8.88
3      4      0       8.50
4      5      0       9.18

   index  month  temp
0    1.0      0    27
1    2.0      0    27
2    3.0      0  26.5
3    4.0      0    27
4    5.0      0    26

In [4]:
info_df = ml_weather
info_df['humidity'] = ml_hum.iloc[:,2]
info_df['sun_hours'] = ml_sun.iloc[:,2]
info_df.head()

   index  month  temp  humidity  sun_hours
0    1.0      0    27      77.0       8.79
1    2.0      0    27      75.0       9.46
2    3.0      0  26.5      78.0       8.88
3    4.0      0    27      79.0       8.50
4    5.0      0    26      76.0       9.18

In [5]:
info_df.to_csv('../../../data/main_data/Info.csv',index=False)