create .csv file to all district depndent features

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
dist_gdp = pd.read_csv('../../../data/main_data/dist_gdp.csv')
dist_hosp = pd.read_csv('../../../data/main_data/dist_hosp.csv')
dist_human = pd.read_csv('../../../data/main_data/dist_human.csv')
dist_bed = pd.read_csv('../../../data/main_data/Hospital Beds Detailed.csv')
dist = pd.read_csv('../../../data/main_data/districts.csv')

In [4]:
dist_gdp.head()
dist_gdp.columns

,District Number,Unnamed: 1,District,Unnamed: 3,GDP per capita ($),Ratio from National GDP,(taking 1 USD= 180LKR)
0,1,NaN,Colombo,NaN,5743.47,1.40,NaN
1,2,NaN,Gampaha,NaN,5725.22,1.40,NaN
2,3,NaN,Kalutara,NaN,5725.22,1.40,NaN
3,4,NaN,Galle,NaN,3383.03,0.82,NaN
4,5,NaN,Matara,NaN,3383.03,0.82,NaN

Index(['District Number', 'Unnamed: 1', 'District', 'Unnamed: 3',
       'GDP per capita ($)', 'Ratio from National GDP',
       '(taking 1 USD= 180LKR)'],
      dtype='object')

In [5]:
district_df = pd.DataFrame()
district_df['index'] = dist_gdp['District Number']
district_df['gdp_per_capita'] = dist_gdp['GDP per capita ($)']

In [6]:
dist_hosp.head()
dist_hosp.columns

,District Number,Unnamed: 1,District,Unnamed: 3,Hospital Inpatient Beds,Unnamed: 5,Population,Unnamed: 7,Hospital Beds per 1000
0,1.0,NaN,Colombo,NaN,13498.0,NaN,2448000.0,NaN,5.51
1,2.0,NaN,Gampaha,NaN,5685.0,NaN,2417000.0,NaN,2.35
2,3.0,NaN,Kalutara,NaN,2780.0,NaN,1284000.0,NaN,2.17
3,4.0,NaN,Galle,NaN,4057.0,NaN,1130000.0,NaN,3.59
4,5.0,NaN,Matara,NaN,2312.0,NaN,863000.0,NaN,2.68

Index(['District Number', 'Unnamed: 1', 'District', 'Unnamed: 3',
       'Hospital Inpatient Beds', 'Unnamed: 5', 'Population', 'Unnamed: 7',
       'Hospital Beds per 1000'],
      dtype='object')

In [7]:
district_df['hospital_beds_per_thousand'] = dist_hosp['Hospital Beds per 1000']

In [8]:
dist_bed.head()
dist_bed.columns

,District Number,Unnamed: 1,District,Unnamed: 3,TH,PGH,DGH,BH-A,BH-B,DH-A,DH-B,DH-C,PMCU,Other Hospitals,Total Inpatient Beds,Inpatient Beds per 1000 Population for 2017,Hospital Beds per 1000 for 2019 population
0,1,NaN,Colombo,NaN,7657.0,NaN,NaN,1226.0,272.0,87.0,353.0,52.0,60.0,3791.0,13498.0,5.6,5.51
1,2,NaN,Gampaha,NaN,1477.0,NaN,1360.0,615.0,279.0,578.0,66.0,182.0,NaN,1128.0,5685.0,2.4,2.35
2,3,NaN,Kalutara,NaN,NaN,NaN,865.0,966.0,179.0,174.0,433.0,163.0,NaN,NaN,2780.0,2.2,2.17
3,4,NaN,Galle,NaN,2188.0,NaN,NaN,828.0,115.0,190.0,430.0,288.0,10.0,8.0,4057.0,3.6,3.59
4,5,NaN,Matara,NaN,NaN,NaN,1166.0,NaN,386.0,177.0,466.0,117.0,NaN,NaN,2312.0,2.7,2.68

Index(['District Number', 'Unnamed: 1', 'District', 'Unnamed: 3', 'TH', 'PGH',
       'DGH', 'BH-A', 'BH-B', 'DH-A', 'DH-B', 'DH-C', 'PMCU',
       'Other Hospitals', 'Total Inpatient Beds',
       'Inpatient Beds per 1000 Population for 2017',
       'Hospital Beds per 1000 for 2019 population'],
      dtype='object')

In [9]:
dist_human.head()
dist_human.columns

,District Number,Unnamed: 1,District,Unnamed: 3,HDI,Unnamed: 5,HHI,Unnamed: 7,Life Expectancy(Male) in years
0,1,NaN,Colombo,NaN,0.710,NaN,0.75,NaN,73.0
1,2,NaN,Gampaha,NaN,0.752,NaN,0.90,NaN,73.2
2,3,NaN,Kalutara,NaN,0.733,NaN,0.91,NaN,73.2
3,4,NaN,Galle,NaN,0.688,NaN,0.85,NaN,73.1
4,5,NaN,Matara,NaN,0.690,NaN,0.93,NaN,73.9

Index(['District Number', 'Unnamed: 1', 'District', 'Unnamed: 3', 'HDI',
       'Unnamed: 5', 'HHI', 'Unnamed: 7', 'Life Expectancy(Male) in years'],
      dtype='object')

In [10]:
district_df['human_development_index'] = dist_human['HDI']
district_df['life_expectancy'] = dist_human['Life Expectancy(Male) in years']

In [11]:
dist.head()

,ProvinceNumber,Province,Provincial Population,District Number,District,Elevation(m),Neighbour district numbers,Neighbour District Names,District Population,Population density /km2,No. of Police Stations,OIC division,Division Population,Unnamed: 13,Police station,Population
0,1,Western Province,"6,149,000",1.0,Colombo District,5.0,2.0,Gampaha,"2,448,000","3,502",48.0,Colombo Central,NaN,1.0,Pettah,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Kalutara,NaN,NaN,NaN,NaN,NaN,2.0,Keselwatta,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,7.0,Ratnapura,NaN,NaN,NaN,NaN,NaN,3.0,Dam Street,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,8.0,Kegalle,NaN,NaN,NaN,NaN,NaN,4.0,Woulfendal,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Fort,NaN

In [13]:
district_df['population'] = dist['District Population'].dropna(axis=0)
district_df['population_density'] = dist['Population density /km2'].dropna(axis=0)

In [15]:
district_df = district_df.iloc[:25,:]
district_df.tail()

,index,gdp_per_capita,hospital_beds_per_thousand,human_development_index,life_expectancy,population,population_density
20,21,3285.16,4.60,0.625,69.8,NaN,NaN
21,22,3285.16,4.08,0.625,67.8,NaN,NaN
22,23,3285.16,3.82,0.625,64.5,NaN,NaN
23,24,3285.16,5.61,0.625,70.0,NaN,NaN
24,25,3285.16,4.74,0.625,60.9,NaN,NaN

In [16]:
district_df.to_csv('../../../data/geo_mode_data/test.csv')